  /* Dom part projects style starts */
/* project 1 */
/* #colorBox {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
  } */

  /* project 2 */
  /* ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 5px 0;
    cursor: pointer;
  }
  li:hover {
    background-color: #ddd;
  } */

  /* project 3 */
  /* form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  } */
  /* Dom part projects style ends */

  /* Bom part projects style starts */
  /* project 1 */
  /* body.light-theme {
    background-color: white;
    color: black;
  }
  body.dark-theme {
    background-color: black;
    color: white;
  }
  .theme-toggle {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  } */

/* project 3  */
/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}
.clock {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
} */
  /* Bom part projects style ends */

  /* Web API & JSON portion projects styles */
  section {
    display: none;
  }
  section.active {
    display: block;
  }
  